.swal2-popup {
    font-family: 'Roboto', sans-serif !important;
}

.swal2-title {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700;
}

.swal2-confirm,
.swal2-cancel {
    font-family: 'Roboto', sans-serif !important;
}